name: publish.yml
on:
  push:
    branches:
      - master

jobs:
  publish:
    if: github.repository == 'CytonicMC/Cytosis'
    runs-on: ubuntu-latest
    env:
      REPO_USERNAME: ${{ secrets.REPO_USERNAME }}
      REPO_PASSWORD: ${{ secrets.REPO_PASSWORD }}

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'jetbrains'
          java-version: '25'

      - uses: gradle/actions/setup-gradle@v5

      - run: gradle publish
